#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    /* margin-top: 10px; */
}
header{
    background-color: #7d5705;
    display: grid;
    grid-template-columns: 150px auto;
    opacity: 0.8;
    margin-top: 0;
}
/* .home-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
} */

nav a{
  /* float: left; */
  padding: 35px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  /* width: 15%;  */
  /* text-align: center; */
    
}
nav {
    /* width: 100%; */
    background-color: #555;
    /* overflow: auto; */
    display: flex;
    
    justify-content: space-around;
}
nav a:hover{
    background-color: #ffffff;
    color: rgb(2, 76, 13);
    text-decoration: none;
}
#hero{
    /* border: 2px solid rgb(232, 221, 178); */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
    width: 100%;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
    
}
#hero-msg{
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color: white;
}
#hero-msg h1 {
    color: white;
    padding-top: 10rem;
    
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    width: 100%;
}
#hero-img{
    width: 100%;
}


#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.button-box{
    text-align: center;
    padding-bottom: 35px;
    
}
main section{
    text-align: center;
}
.home-grid{            /* Home body start here */
    width: 100%;
}
.home-image{
    
    display: flex;   
    justify-content: center;
    /* width: 100%; */
    
}
.home-image section{
    padding-left: 90px;
   
}
.card-img{
    border: 2px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
body{
    background-color: #ffffff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.book, .join{
    background-color: #ecbd56;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #f16202;
    
}
#background {
    height: 725px;
    background-color: #deb347;
    display: grid;
    align-items: center;
    overflow: hidden;
}
.mountains { 
    width: 50%;
    box-shadow: 5px 5px 10px #6f7364;
 
}


.msg{
    background-color: #533800;
    line-height: 2em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    position: absolute;
    overflow: hidden;

    width: 50%;
    right: 0;
   
 
 

    
}
.msg h2{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color: #101018;
    color: rgb(255, 255, 255);
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}
footer p{
    font-size: 1.2em;
    padding: 5px 50px;
}
footer .social img{
    padding-top: 15px;
}
footer a:hover{ 
    color: rgb(2, 76, 13);
    text-decoration: none;
}
.icon {
    width: 60px;
    height: 60px;
    padding-top: 10px;
}
.logo{
    width: 80px;
    border-radius: 50%; 
}
.card-img {
    width: 100%;
}


#logo_link{
    padding-top: 5px;
}  

.rivers-card, .camping-card, .rapids-card   {
    margin: 200px 0;
}
main section img {
    box-sizing: border-box;
}


/* ------------------------------------------------------------------------------------------------ */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    /* cursor: pointer; */
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: large;
    /* display: none; */
    color: #7d5705;
    font-weight: bold;
   
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    /* display: none; */
    /* overflow: hidden; */
  }
  .panel p{
    text-align: justify;
  }