
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #396E94   ;
    --secondary-color: #e6b930 ;
    --accent1-color: #A42212;
    --accent2-color: white;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Roboto";
    --paragraph-font: Lato, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #396E94;  /* headlines on a white background */ 
    --headline-color-on-color: #F5D5ED; /* headlines on a colored background */ 
    --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #b6165e  ;
    --nav-link-color: #396E94;
    --nav-background-color: #D4AC0D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
  }
  
  .hero img {
    display: block;
    width: 100%;
    height: auto;
   
   
  }
  header{


    background-color: #7d5705;
    display: grid;
    grid-template-columns: 150px auto;
    opacity: 0.8;
    margin-top: 0;

  }

  nav a:hover{
    background-color: #ffffff;
    color: rgb(2, 76, 13);
    text-decoration: none;
}
  nav {


    background-color: #555;
    /* overflow: auto; */
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
  }
  nav a {
    /* display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;  */
    padding: 35px;
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
  #logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 80px;
    border-radius: 50%; 
}

.hero{
    position: relative;

}

.hero h1{
text-align: center;

    left: 10%;
    color: #fff;
    margin-bottom: 10px;
}
.hero p{
  text-align: center;
}
.hero article{
  
   
    /* left: 10%; */
    display: flex;
justify-content: center;
align-items: center;
    margin: auto 0;
    /* background-color: #A42212; */
    margin-left: 10%;
    margin-right: 10%;
    border-width: 2px;
    border-color: #fff;
    color: #fff;

}
.textImage{
  top: 0%;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: #A42212; */
}
article .img{
    width: 60px;
    float: left;
    height: 80px;

   
    /* height: 40px; */
  }

h2{
    color: var(--primary-color);
    
}
.layer3{
  display: flex;
  justify-content: center;
  
 
}
.layer3 img{
  height: 10rem;
  width: 10rem;
  margin-left: 10px;
  margin-right: 10px;
}
.layer3 p{
  text-align: justify;
}
.section1 h2{
  text-align: center;
}
.section1{
  justify-content: center;
  align-items: center;
  width: 100%;
}
.adventure{
 width: 100%;
}
.adventure h2{
  text-align: center;
}
 section .adventureImg{
  display: flex;
  gap: 3px;

}
 section .adventureImg img{
  width: 310px;

}
footer{
  background-color: #101018;
  color: rgb(255, 255, 255);
  padding: 25px 50px;
  margin-top: 200px; 
  display: block;
  justify-content: space-around;
  align-items: center;
}
footer input{
  width: 30rem;
  height: 2rem;
  margin-bottom: 20px;
}
footer .item{
 display: flex;
}
footer a{
  color:rgb(255, 255, 255);
  text-decoration: none;
}
footer p{
  font-size: 1.2em;
  padding: 5px 50px;
}
footer .social img{
  padding-top: 15px;
}
footer a:hover{ 
  color: rgb(2, 76, 13);
  text-decoration: none;
}






@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
      justify-content: center;

      align-items: center;
      
  }
  nav a {
      display: block;
      padding: 15px;
  }
  .home-image{
      display: block;
  }
  
  .home-title {
      /* font-size: 25px; */
      /* color: #d50e0e; */
      font-family: Georgia, 'Times New Roman', Times, serif;
  
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  section .adventureImg{
    display: block;
    justify-content: center;
    align-items: center;
    gap: 3px;
  
  }
  section .adventureImg img{
    height: 20rem;
    width: 28rem;
  
  }
  .section1 .layer3{
    display: block;
  }

  .layer3 img{
    height: 20rem;
    width: 28rem;
  }
  #background {
      display: none;
   
          }
  .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
}
 