#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}
.home-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
#background {
    height: 725px;
    background-color: #deb347;
}
nav a{
  float: left;
  padding: 35px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  width: 15%; 
  text-align: center;
    
}
nav {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
nav a:hover{
    background-color: #ffffff;
    color: rgb(2, 76, 13);
    text-decoration: none;
}
#hero{
    border: 2px solid rgb(232, 221, 178);
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}
#hero-msg{
    width: 100%;
}
.button-box{
    text-align: center;
    padding-bottom: 35px;

}
main section{
    text-align: center;
}
body{
    background-color: #ffffff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #7d5705;
}

.book, .join{
    background-color: #ecbd56;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #f16202;
    
}

.msg{
    background-color: #533800;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color: #101018;
    color: rgb(255, 255, 255);
    margin-top: 200px;
    margin-bottom: 50px;
    
}
footer a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}
footer p{
    font-size: 1.2em;
    padding: 5px 50px;
}
footer .social img{
    padding-top: 15px;
}
footer a:hover{ 
    color: rgb(2, 76, 13);
    text-decoration: none;
}
.icon {
    width: 60px;
    height: 60px;
    padding-top: 10px;
}
.logo{
    width: 80px;
    border-radius: 50%;
    
}

#logo_link{
    padding-top: 5px;
}  

.rivers-card, .camping-card, .rapids-card   {
    margin: 200px 0;
}
.card-img{
    border: 5px solid black;
}
main section img {
    box-sizing: border-box;
}


