body {
    text-align: center;
  }

/* nav {
    background-color: steelblue;
    padding: 10px;
  }

a {
    color: white;
    margin: 40px;
  } */


  nav a{
    /* float: left; */
    padding: 35px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    /* width: 15%;  */
    /* text-align: center; */
      
  }
  
  
  nav {
      /* width: 100%; */
      background-color: #555;
      /* overflow: auto; */
      display: flex;
      
      justify-content: space-around;
  }
  
  nav a:hover{
      background-color: #ffffff;
      color: rgb(2, 76, 13);
      text-decoration: none;
  }
  



h1 {
color: steelblue;
}
img {
width: 800px;
border: 4px solid steelblue;
}
p {
padding: 10px;
}
footer {
background-color: steelblue;
color: white;
}